:root{
  --cyan-900: #0A2F51;
  --cyan-800: #0E4D64;
  --teal-900: #137177;
  --teal-800: #188977;
  --green: #1D9A6C;
  --light-green: #39A96B;
  --medium-green: #56B870;
  --light-medium-green: #74C67A;
  --light-green: #99D492;
  --very-light-green: #BFE1B0;
  --almost-white-green: #DEEDCF
}
