*,*::before, *::after{
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body{
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
}
/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p{
  text-wrap: pretty;
}
h1,h2,h3,h4,h5,h6{
  text-wrap: balance;
}
/* Anything that has been anchored to should have extra scroll margin */
:target{
  scroll-margin-block: 5em;
}
/* Used for accordions - May remove if not necessary or supported */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* End CSS Reset  */

:root{
  --primary-lime: hsl(61, 70%, 52%);
  --primary-red: hsl(4, 69%, 50%);

  --neut-white: hsl(0, 0%, 100%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(200, 41%, 72%); 
  --slate-500: hsl(200, 26%, 40%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(200, 55%, 16%);
}