*,*::before, *::after{
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body{
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}
/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p{
  text-wrap: pretty;
}
h1,h2,h3,h4,h5,h6{
  text-wrap: balance;
}

/* Used for accordions - May remove if not necessary or supported */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}